.drawerBottom__header {
  background-color: #3a3e4a;
}
.drawerBottom__header_container {
  display: flex;
  align-items: center;
}
.drawerBottom__header_container > p {
  color: #de5751;
  font-size: 20px;
  font-weight: 500;
}
.drawerBottom__header_container > .MuiIconButton-root {
  color: #de5751 !important;
  margin: 0 10px 0 10px;
}
.drawerBottom__content {
  background-color: #4c5162;
  height: 100%;
}
.drawerBottom__content_photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 800px;
}
.drawerBottom__content_video {
  height: 300px;
  width: 100%;
}
.drawerBottom__content_video > .player-wrapper {
  margin: 0 auto;
  margin-top: 30px !important;
}
.drawerBottom__content_photo > img {
  height: 300px;
  margin: 20px 0 20px 0;
}
.drawerBottom__content_caption {
  margin: 20px 120px 20px 120px;
}
.drawerBottom__content_caption > .MuiFab-root {
  position: absolute;
  right: 45px;
  bottom: 130px;
  background-color: #de5751;
}
.drawerBottom__content_caption > .MuiFab-root:hover {
  background-color: #f0706a;
}
.drawerBottom__content_caption > input {
  width: 100%;
  background-color: #4c5162;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #de5751;
  padding: 5px 0 5px 0;
  font-size: 14px;
  color: #f0706a;
}
.drawerBottom__footer {
  align-items: center;
  align-content: center;
  height: 140px;
  background-color: #686b74;
  padding: 20px 50px 20px 50px;
  text-align: center;
}
.drawerBottom__footer > div {
  align-content: center;
}
.drawerBottom__footer > div > img {
  margin: 0 auto;
  max-height: 78px;
}

@media screen and (max-width: 600px) {
  .drawerBottom__content_photo > img {
    max-height: 250px;
    margin: 20px 0 20px 0;
  }
  .drawerBottom__content_caption {
    margin: 70px 40px 20px 20px;
  }
  .drawerBottom__content {
    flex: 1;
    background-color: #4c5162;
    height: 100vh;
  }
  .drawerBottom__footer {
    height: 150px;
    padding: 20px 50px 00px 50px;
  }
  .drawerBottom__content_caption > input {
    width: 85%;
  }
  .drawerBottom__content_caption > .MuiFab-root {
    right: 20px;
    bottom: 155px;
  }
}
