.login {
  background: linear-gradient(-30deg, #8e8e8f, #2b2e35, #000000, #363636);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login__container {
  text-align: center;
  padding: 100px;
}
.login__container > img {
  object-fit: contain;
  width: 240px;
  height: 120px;
  margin-bottom: 10px;
}
.login__text {
  margin-bottom: 50px;
  color: white;
}
.login__withGoogle {
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  padding: 12px;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 30px;
}
.login__withGoogle > img {
  width: 25px;
  height: 25px !important;
  margin-right: 10px;
}
.login__Anonymously {
  margin-top: 10px;
}
.login__Anonymously > .MuiSvgIcon-root {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .login__container > img {
    height: 100px;
  }
  .login__container {
    padding: 30px;
  }
  .login__text > h1 {
    font-size: 20px;
  }
  .login__withGoogle > span {
    font-size: 12px;
  }
  .login__withGoogle > img {
    height: 25px !important;
    margin-right: 5px;
  }
  .login__Anonymously {
    margin-top: 10px;
  }
  .login__Anonymously > .MuiSvgIcon-root {
    margin-right: 5px;
    font-size: 25px;
  }
}
